.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    background: url(../images/body/2121.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 47px;
    padding-bottom: 47px;
    align-items: start;
    z-index: 999;
}

.contact-section {
    padding: 20px;
    text-align: center;
    background-color: #0d0d0ddf;
    color: #bfbfbf;
    margin-bottom: 330px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 200, 255, 0.2);
    z-index: 999;
}

.contact-section p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.contact-section h2 {
    color: #00a2c6;
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-card {
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 200, 255, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-info {
    list-style: none;
    padding: 10px;
}

.contact-info li {
    padding: 5px;
    font-size: 1rem;
    color: #d9d9d9;
}

.contact-info a {
    color: #00a2c6;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #ffffff;
}

.light-mode .contact-grid {
    background: url(../images/body/1470.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.light-mode .contact-section {
    background-color: #00091bd8;
    color: #2b2b2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.833);
}

.light-mode .contact-section h2 {
    color: #b5b5b5;
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeIn 3s ease-in-out;
}

.light-mode .contact-section p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #bcbcbc;
}

.light-mode .contact-card {
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    background-color: #acacacd6;
    border: 2px solid #ffffff61;
    box-shadow: 0 15px 8px rgb(0, 0, 0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.light-mode .contact-info li {
    padding: 5px;
    font-size: 1rem;
    color: #1e1e1e;
    font-size: large;
}

.light-mode .contact-info a {
    color: #035656;
    text-decoration: none;
    transition: color 0.3s;
    font-size: large;
}

.light-mode .contact-info a:hover {
    color: #ffffff;
}

@media (max-width: 1220px) {
    .contact-grid {
        padding-right: 107px;
        padding-left: 107px;
        padding-top: 47px;
        padding-bottom: 47px;
    }
}

@media (max-width: 620px) {

    .contact-grid {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.546)), url(/images/body/ab5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;*/
        padding-right: 17px;
        padding-left: 17px;
        padding-top: 47px;
        padding-bottom: 7px;
    }

    /*.light-mode .contact-grid {
        background-image: linear-gradient(rgba(0, 0, 0, 0.359), rgba(0, 0, 0, 0.18)), url(/images/body/ab2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
       */
}