* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #202020;
    max-width: 100vw;
    scroll-behavior: auto;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.188), transparent 60%), radial-gradient(circle at top, rgba(89, 117, 129, 0.4), transparent 60%), radial-gradient(circle at top left, rgba(0, 0, 0, 0.4), transparent 60%),
        radial-gradient(circle at bottom right, rgba(28, 28, 28, 0.35), transparent 60%), radial-gradient(circle at bottom, rgba(59, 79, 108, 0.35), transparent 60%), radial-gradient(circle at bottom left, rgba(68, 98, 121, 0.4), transparent 60%),
        #000000;
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    color: #e0e0e0;
    position: relative;
}


.light-mode {
    background: radial-gradient(circle at top left, #ffdffb, transparent),
        radial-gradient(circle at bottom right, #fffed3, transparent),
        #101214;
    background-size: 100% 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    background-attachment: fixed;

}

/*body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.361), rgba(0, 0, 0, 0.638)), url(/images/body/hd1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.light-mode::before {
    background: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.058)), url(/images/body/bw3.png);
    background-size: cover;
}*/

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #1a1a1afd;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ccff9c;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(188, 188, 188, 0.7);
}

body.loading,
html.loading {
    overflow: hidden;
    height: 100%;
}

:root {
    --primary: #d4d4d4;
    --primary-dark: #007c91;
    --accent: #b6b6b6;
    --card-gradient: linear-gradient(145deg, rgba(52, 52, 52, 0.85), rgba(0, 34, 62, 0.9));
    --text-light: #fafdff;
    --text-bright: #c7faffdd;
    --radius: 1.5rem;
    --border: 2px solid #ffffff61;
    --font-main: 'Inter', 'Segoe UI', Arial, sans-serif;
    --font-mono: 'Fira Mono', 'Consolas', monospace;
}

/* Header section */
.hero {
    position: relative;
    width: 100%;
    padding-top: 170px;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
}


.hero h1 {
    font-size: 2.8rem;
    font-family: "Michroma", sans-serif;
    margin: 0;
    color: #bfbfbf;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    animation: fadeIn 4s ease-in-out;
}

.hero h2 {
    font-size: 2.3rem;
    color: #bfbfbf;
    margin-top: 15px;
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.responsive-break {
    display: none;
}

.type-sequence {
    overflow: hidden;
    white-space: nowrap;
    font-family: "Michroma", sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 0;
}

.type-sequence i {
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
}

.type-wrapper {
    display: inline-block;
    vertical-align: bottom;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: nowrap;
    user-select: none;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    font-weight: bold;
    animation: blink 1s steps(1) infinite;
    color: #c5c5c5;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.content {
    height: auto;
    overflow-y: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* Achievements section */

/*.home-image {
    background: url(/images/body/black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}*/

.grid-wrapper {
    padding-right: 143px;
    padding-left: 143px;
    padding-top: 17px;
    gap: 20px;
    padding-bottom: 37px;
}

.achievements {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 340px;
    gap: 20px;
    padding: 18px;
    max-width: 100%;
    width: 100%;
    background: radial-gradient(circle at top left, #222222ad 0%, #1c1d25c9 30%, #141414c9 50%, #000000c4 75%, rgba(33, 30, 30, 0.774) 100%);
    border: 2.5px solid rgb(255, 255, 255);
}

.light-mode .achievements {
    background: rgba(144, 180, 194, 0.792);
    border: 2.5px solid rgba(201, 201, 201, 0.561);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.829);
    color: #bfbfbf;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.certificate-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 20px;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 150px;
    text-align: center;
}

.certificate img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.6s ease, z-index 0.3s ease;
}

.zoom-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .75);
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 1000;
}

.zoom-backdrop.show {
    opacity: 1;
}

.certificate p {
    font-size: 1.1rem;
    color: var(--primary);
    position: relative;
}

.light-mode .certificate p {
    color: black;
}

.achievement-stats {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 12px;
    font-size: 1rem;
    color: var(--text-bright);
    box-shadow: 0 0 4px rgba(0, 255, 255, 0.66);
    flex-wrap: wrap;
    gap: 12px;
}

.light-mode .achievement-stats {
    background: rgba(58, 106, 127, 0.4);
    color: black;
    box-shadow: 0 0 40px rgb(255, 255, 255);
}

.achievement-stats p {
    margin: 0;
}

.achievement-timeline {
    border-left: 3px solid rgb(191, 191, 191);
    padding-left: 20px;
    margin-top: 15px;
}

.light-mode .achievement-timeline {
    border-left: 3px solid black;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    left: 0;
    text-align: left;
    justify-self: flex-start;
}

.timeline-item .dot {
    position: absolute;
    left: -15px;
    top: 8px;
    width: 8px;
    height: 2px;
    background: rgb(205, 205, 205);
}

.light-mode .timeline-item .dot {
    background: black;
}

.timeline-item p {
    margin: 0;
    font-size: 1rem;
    color: var(--text-bright);
}

.light-mode .timeline-item p {
    color: black;
}

.github-contributions-widget {
    background-color: rgba(14, 14, 14, 0.6);
    border: 2px solid #ffffff61;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-top: 18px;
    width: 80%;
    justify-self: center;
    max-width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    box-sizing: border-box;
}

.light-mode .github-contributions-widget {
    background-color: #4545452d;
    border: none;
}

.github-contributions-widget h3 {
    font-size: 1.35rem;
    color: var(--primary);
    margin-bottom: 16px;
}

.light-mode .github-contributions-widget h3 {
    color: #222222;
}

.react-activity-calendar {
    max-width: 100%;
    width: fit-content;
    margin: 0 auto;
    color: var(--primary);
    overflow-x: auto;
}

.light-mode .react-activity-calendar {
    color: #222222;
}

.react-activity-calendar svg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.react-activity-calendar text {
    color: var(--primary);
    font-size: 22px;
}

.light-mode .react-activity-calendar text {
    color: #222222;
}

.react-activity-calendar__footer {
    background: transparent;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.skills-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 10px;
}

.skills-grid img {
    width: 57px;
    margin-bottom: 12px;
    height: 70px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.6s ease;
    position: static;
    z-index: 1;
}

.skills {
    background: radial-gradient(circle at top left, #000000 0%, #1d1d1d 30%, #202020 50%, #0d0d0d 75%, #000000 100%);
    max-width: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.6s ease, border 0.6s ease;
    z-index: 1;

}

.skills.active {
    box-shadow: 0 0 6px #00ff11, 0 0 10px #0048ff, 0 0 10px #a600ff;
    transition: box-shadow 0.5s ease, border 0.5s ease;
}

.skills.active h2 {
    text-shadow: 0 0 5px #ffffff5a, 0 0 10px #ffffff63;
    transition: text-shadow 0.6s ease-in-out;
    color: #d7d7d7;
}

.light-mode .skills.active {
    box-shadow: 0 0 4px #00ff11, 0 0 10px #0048ff, 0 0 12px #a600ff;
    transition: box-shadow 0.5s ease, border 0.5s ease;
}

.light-mode .skills.active h2 {
    text-shadow: 0 0 5px #ffffff5a, 0 0 10px #ffffff63;
    transition: text-shadow 0.6s ease-in-out;
    color: #d7d7d7;
}

.skills h2 {
    color: rgba(174, 174, 174, 0.71);
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 2.2rem;
    position: relative;
    text-align: center;
    z-index: 1;
    animation: fadeIn 2s ease-in-out;
    transition: text-shadow 0.6s ease-in-out, color 0.6s ease-in-out;
}

/* Footer section */
footer {
    width: 100%;
    min-width: 100%;
    background: linear-gradient(to top, #000000a7, #00000091, #00000081 100%);
    padding: 10px 20px;
    z-index: 100;
    flex-shrink: 0;
}

footer p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #aebcc588;
}

footer a {
    color: #00a2c6b1;
    text-decoration: none;
    transition: color 0.3s;
}


.light-mode .hero h1 {
    color: hsl(0, 0%, 0%);
    /* Optional overrides if needed for system light + site light */
}

.light-mode .hero h2 {
    color: hsl(0, 0%, 0%);
    /* Optional overrides if needed for system light + site light */
}

.light-mode .cursor {
    color: #0e0e0e;
}

/* smallets large screen size */
@media (min-width: 1201px) {

    .skills-grid.skills-mobile {
        display: none;
    }

    .skills-grid img:last-child {
        margin-right: 14px;
    }

    .skills-grid img:first-child {
        margin-left: 50px;
    }

    .skills-wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        mask-image: linear-gradient(to right,
                transparent 0%,
                black 10%,
                black 90%,
                transparent 100%);
        -webkit-mask-image: linear-gradient(to right,
                transparent 0%,
                black 10%,
                black 90%,
                transparent 100%);
    }

    .skills-track {
        display: flex;
        flex-wrap: nowrap;
        width: max-content;
        animation: conveyor 60s linear infinite;
    }

    .skills-grid {
        gap: 100px;
    }

    @keyframes conveyor {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-33.333%);
        }
    }
}

@media (max-width: 1520px) {

    .grid-wrapper {
        padding-right: 27px;
        padding-left: 27px;
        padding-top: 47px;
        padding-bottom: 40px;
    }
}

/* Laptop/Tablets */
@media(max-width: 1200px) {

    .grid-wrapper {
        padding-right: 27px;
        padding-left: 27px;
        padding-top: 47px;
        padding-bottom: 40px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: none;
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: none;
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 0;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
        background: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        box-shadow: none;
        backdrop-filter: none;
    }

    .hero {
        padding-top: 190px;
        padding-bottom: 150px;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin: 0;
        color: #bfbfbf;
        display: block;
        text-align: center;
        width: 100%;
        animation: fadeIn 4s ease-in-out;
    }

    .hero h2 {
        font-size: 1.7rem;
        color: #bfbfbf;
        margin-top: 15px;
        animation: fadeIn 5s ease-in-out;
    }

    .type-sequence i {
        font-size: 2.3rem;
    }

    .achievements {
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 0 4px #ffffff, 0 0 6px #ffffff, 0 0 8px #ffffff;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip-text {
        visibility: hidden;
        opacity: 0;
        background-color: rgba(42, 42, 42, 0.85);
        color: #d7d7d7;
        text-align: center;
        border-radius: 5px;
        padding: 5px 8px;
        position: absolute;
        z-index: 999;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%) translateY(20px);
        white-space: nowrap;
        transition: opacity 0s ease, transform 0s ease;
        font-size: 0.65rem;
        font-weight: bold;
        pointer-events: none;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
        transition: opacity 0.05s ease, transform 0.6s ease;
        /* slide up slightly */
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .skills-wrapper {
        display: none;
    }

    .skills-grid.skills-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 26px;
        width: 100%;
        justify-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .skills-grid img.show {
        opacity: 1;
        transform: scale(1);
    }

    /*.home-image {
        background: url(/images/body/black.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 40px;
    }*/

    .skills-grid img {
        width: 60px;
        margin-bottom: 12px;
        height: auto;
        filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.778));
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease, filter 0.6s ease;
        position: relative;
        backface-visibility: hidden;
        transform: translateZ(0);
        /* triggers hardware acceleration */
        will-change: transform, filter;
    }

    .skills-grid img:hover {
        filter: drop-shadow(10px 10px 3.5px rgba(0, 0, 0, 0.584));
        transform: scale(1.4);
    }

    .skills-grid img::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
        filter: blur(6px);
        z-index: -1;
        pointer-events: none;
    }

    .skills1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        padding: 5px 10px;
        background: radial-gradient(circle at top left, #2f2f2f 0%, #272833 30%, #212121 50%, #1c1c1c 75%, #222526 100%);
        border-radius: 12px;
        width: auto;
        border: 2.5px solid rgba(201, 201, 201, 0.561);
        width: auto;
        transition: box-shadow 0.6s ease, border 0.6s ease;
    }

    .light-mode .skills1 {
        background: radial-gradient(circle at top left, #00000033 0%, #c1c1c183 30%, #f4f4f45b 50%, #6767675a 75%, #9a9a9a4f 100%);
        border: none;
    }

    .skills1.animate {
        box-shadow: 0 0 8px #00ff11, 0 0 8px #0048ff, 0 0 8px #a600ff;
        z-index: 1;
    }

    .light-mode .skills1.animate {
        box-shadow: 2px 5px 20px #000000;
        z-index: 1;
    }

    .skills1 h2 {
        color: rgba(174, 174, 174, 0.71);
        margin-bottom: 12px;
        padding-top: 10px;
        font-size: 2.2rem;
        position: relative;
        text-align: center;
        z-index: 2;
        animation: fadeIn 2s ease-in-out;
        transition: text-shadow 0.6s ease-in-out, color 0.6s ease-in-out;
    }

    .skills1.animate h2 {
        text-shadow: 0 0 5px #ffffff5a, 0 0 10px #ffffff63;
        transition: text-shadow 0.6s ease-in-out;
        color: #d7d7d7;
        transition: color 0.6s;
    }

    .light-mode .skills1.animate h2 {
        text-shadow: 0 0 5px #a4d8e7, 0 0 10px #e2feff;
        transition: text-shadow 0.6s ease-in-out;
        color: #464646;
        transition: color 0.6s;
    }

    .github-contributions-widget {
        background-color: rgba(14, 14, 14, 0.6);
        border: 2px solid #ffffff61;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        margin-top: 18px;
        width: 100%;
        justify-self: center;
        max-width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        box-sizing: border-box;
    }
}

/* Mobile screens */
@media (max-width: 600px) and (min-width: 320px) {

    ::-webkit-scrollbar {
        width: 0;
    }

    .hero {
        position: relative;
        width: 100%;
        z-index: 1;
        height: auto;
        padding-top: 120px;
        padding-bottom: 80px;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin: 0;
        color: #bfbfbf;
        display: block;
        text-align: center;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        animation: fadeIn 4s ease-in-out;
    }

    .hero h2 {
        font-size: 1.7rem;
        color: #bfbfbf;
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        animation: fadeIn 5s ease-in-out;
    }

    .container {
        background: none;
    }

    .type-sequence {
        text-align: center;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        margin-bottom: 0;
    }

    .type-wrapper {
        display: block;
        text-align: center;
        margin-top: 0;
    }

    .grid-wrapper {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .light-mode .grid-wrapper {
        background: none;
    }

    .achievements {
        box-shadow: 0 0 6px #00ff11, 0 0 8px #0048ff, 0 0 8px #a600ff;
        grid-template-columns: 1fr;
        justify-items: center;
        background: radial-gradient(circle at top left, #222222 0%, #1c1d25 30%, #141414 50%, #000000 75%, #211e1e 100%);
    }

    .certificate-row {
        flex-direction: column;
        align-items: stretch;
        padding: 0 10px;
    }

    .certificate {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;
        padding: 10px 0;
        border-bottom: 1px solid #333;
    }

    .certificate img {
        width: 100px;
        height: auto;
        flex-shrink: 0;
    }

    .certificate p {
        font-size: 1rem;
        text-align: left;
        margin: 0;
    }

    .github-contributions-widget {
        background-color: rgba(14, 14, 14, 0);
        border: none;
        padding: 0;
        border-radius: 15px;
        text-align: center;
        margin-top: 18px;
        width: 100%;
        max-width: 1300px;
        justify-self: center;
        overflow-x: auto;
        box-sizing: border-box;
    }

    .skills-grid.skills-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        gap: 15px;
        justify-items: center;
    }

    .skills1 {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        border-radius: 12px;
        border: none;
        width: auto;
        overflow: hidden;
        transition: box-shadow 0.6s ease, border 0.6s ease;
    }

    .skills-grid img {
        width: 57px;
        margin-bottom: 12px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.778));
        height: auto;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.6s ease-in-out;
        z-index: 1;
    }

    .skills-grid.loading img {
        pointer-events: none;
    }

    .skills-grid.loading {
        pointer-events: none;
    }

    .skills-grid.expand img {
        pointer-events: none;
    }

    .skills1.animate h2 {
        text-shadow:
            0 0 5px #00a2c6,
            0 0 5px #00a2c6,
            0 0 8px #00a2c6;
        color: #d4d4d4;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip-text {
        visibility: hidden;
        opacity: 0;
        background-color: rgba(42, 42, 42, 0.85);
        color: #d7d7d7;
        text-align: center;
        border-radius: 5px;
        padding: 5px 8px;
        position: absolute;
        z-index: 999;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%) translateY(20px);
        white-space: nowrap;
        transition: opacity 0s ease, transform 0s ease;
        font-size: 0.65rem;
        font-weight: bold;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
        transition: opacity 0.05s ease, transform 0.6s ease;
    }

    /* .home-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.546)), url(/images/body/ab5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .light-mode .home-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.359), rgba(0, 0, 0, 0.18)), url(/images/body/ab2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed; 
    } */
}

@media (prefers-color-scheme:dark) {

    .light-mode .hero h1 {
        color: hsl(0, 0%, 0%);
        /* Optional overrides if needed for system light + site light */
    }

    .light-mode .hero h2 {
        color: hsl(0, 0%, 0%);
        /* Optional overrides if needed for system light + site light */
    }

    .light-mode .cursor {
        color: #0e0e0e;
    }
}