* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#preloader.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#preloader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to bottom,
            rgba(255, 255, 255, 0.03),
            rgba(255, 255, 255, 0.03) 2px,
            transparent 2px,
            transparent 4px);
    z-index: 99999;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}



#progress-percent {
    font-family: monospace;
    font-size: 25px;
    color: #a1a1a1;
    min-width: 50px;
    text-align: center;
}

.loader-text {
    color: #007e9a;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    text-align: center;
}

.glitch {
    color: #007e9a;
    font-size: 32px;
    position: relative;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    animation: glitch 2s infinite;
    text-shadow: 0 0 2px #00f7ff, 0 0 10px #00f7ff;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0.8;
}

.glitch::before {
    color: #ffffff;
    z-index: -1;
    animation: glitchTop 1s infinite linear alternate-reverse;
}

.glitch::after {
    color: rgb(0, 0, 0);
    z-index: -2;
    animation: glitchBot 1s infinite linear alternate-reverse;
}

.progress-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.progress-bar {
    width: 280px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background-color: #005265;
    transition: width 0.3s ease;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 0.10;
    }

    33% {
        opacity: 0.5;
    }

    66% {
        opacity: 0.50;
    }
}



@keyframes glitch {
    0% {
        transform: none;
    }

    20% {
        transform: translate(-1px, 1px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(1px, 2px);
    }

    80% {
        transform: translate(1px, -1px);
    }

    100% {
        transform: none;
    }
}

@keyframes glitchTop {
    0% {
        clip-path: inset(0 0 90% 0);
        transform: translate(-2px, -2px);
    }

    100% {
        clip-path: inset(0 0 10% 0);
        transform: translate(2px, 2px);
    }
}

@keyframes glitchBot {
    0% {
        clip-path: inset(90% 0 0 0);
        transform: translate(2px, 2px);
    }

    100% {
        clip-path: inset(10% 0 0 0);
        transform: translate(-2px, -2px);
    }
}

@keyframes fillUp {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00a2c6;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 162, 198, 0.7);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/gg.jpeg)no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.light-mode {
    background: url(../images/hua.png);
}

body.loading,
html.loading {
    overflow: hidden;
    height: 100%;
}

body.loading nav.sticky-nav {
    display: none;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(180, 180, 180);
}

body.light-mode header {
    background-color: #00000018;
}

header h2 {
    font-size: 2.2rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 200px;
    background-color: #00000069;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #bfbfbf;
    animation: fadeIn 2s ease-in-out;
}

body.light-mode .hero h1 {
    color: #ffffff;
}

.hero p {
    font-size: 1.2rem;
    color: #bfbfbf;
    margin-top: 15px;
    animation: fadeIn 3s ease-in-out;
}

body.light-mode .hero p {
    color: #ffffff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    flex: 1;
    height: auto;
    /* keep this way so main-container controls the background */
    overflow-y: auto;
}

.main-container {
    display: flex;
    flex: 1;
    height: auto;
    flex-direction: row;
    background-color: #00000069;
    overflow: hidden;
}

body.light-mode .main-container {
    background-color: #00000018;
}

.first-banner {
    width: 100%;
    text-align: center;
}

.first-banner h2 {
    color: rgb(133, 133, 133);
    background-color: #0d0d0ddf;
    width: 100%;
    text-align: center;
    padding: 12px;
}

body.light-mode .first-banner {
    width: 100%;
    text-align: center;
    box-shadow: none;
}

body.light-mode .first-banner h2 {
    color: rgb(177, 177, 177);
    background-color: #161616df;
    box-shadow: none;
    width: 100%;
    text-align: center;
    padding: 12px;
}

.heading-banner {
    width: 100%;
    text-align: center;
}

.heading-banner h2 {
    color: rgb(133, 133, 133);
    background-color: #0d0d0ddf;
    width: 100%;
    text-align: center;
    padding: 12px;
}

body.light-mode .heading-banner {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: none;
}

body.light-mode .heading-banner h2 {
    color: rgb(177, 177, 177);
    background-color: #161616df;
    box-shadow: none;
    width: 100%;
    text-align: center;
    padding: 12px;
}

.mobile-toggle,
.mobile-name,
#mobileMenu {
    display: none;
}

.sticky-nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 12px 60px;
    background: linear-gradient(to bottom, #000000d2, #000000b3, #00000000 100%);
    display: flex;
    justify-content: flex-end;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

body.light-mode .sticky-nav {
    background: linear-gradient(to bottom, #000000b6, #000000a3, #0000007b, #00000040, #00000000 100%);
    padding-bottom: 14px;
}

.sticky-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    border-radius: 10px;
    margin: 0;
    padding: 3px;
    padding-bottom: 12px;
    padding-right: 25px;

}

body.light-mode .sticky-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 3px;
    padding-right: 25px;
}

.sticky-nav li {
    margin: 0;
}

.sticky-nav a {
    color: #fbfbfb6e;
    text-decoration: none;
    font-size: 1.4em;
    font-family: serif;
}

body.light-mode .sticky-nav a {
    color: #fbfbfb6e;
    text-decoration: none;
    font-weight: bold;
}

.sticky-nav a:hover {
    color: #c0c0c0;
    margin: 2%;
    transition: all 0.2s ease-in-out;
}

body.light-mode .sticky-nav a:hover {
    color: #c0c0c0;
}

.sticky-nav.hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    padding-top: 55px;
}

.grid-wrapper section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.theme-toggle-container {
    position: absolute;
    top: 0;
    padding-right: 15px;
    align-items: center;
    right: 0;
    padding-top: 20px;
    z-index: 1001;
}


.theme-switch {
    width: 45px;
    height: 10px;
    border-radius: 10px;
    background-color: #414141b6;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease;
    display: flex;
}

.switch-thumb {
    width: 20px;
    height: 20px;
    background-color: #cfcfcfc9;
    transition: transform 0.3s ease;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.achievements {
    box-shadow: 0 4px 8px rgba(0, 200, 255, 0.2);
    background-color: #0d0d0ddf;
    color: #afafaf;
    border-radius: 15px;

}

.achievements-card {
    padding: 15px;
    background-color: #1f1f1f;
    margin: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.79);
    transition: transform 0.3s, box-shadow 0.3s;
}

.achievements-card p {
    background-color: #1f1f1f;
    padding: 15px;
    margin: 0;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 1.2em;
    transition: transform 0.3s, box-shadow 0.3s;
}

.achievements-card:hover {
    transform: scale(1.1);
}

.skills {
    text-align: center;
    background-color: #0d0d0ddf;
    color: #bfbfbf;
    border-radius: 15px;
    margin-top: 0;
}

.skills h2,
.achievements h2 {
    color: #00a2c6;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.skill-card {
    background-color: #1f1f1f;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    display: inline-block;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.79);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

footer {
    width: 100%;
    background: linear-gradient(to top, #000000a7, #00000091, #00000081 100%);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
}

footer p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #aebcc588;
}

footer a {
    color: #00a2c6b1;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff;
}

body.light-mode .achievements {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.829);
    background-color: #c7c7c7d8;
    color: #bfbfbf;
    border-radius: 15px;
}

body.light-mode .skills {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.808);
    background-color: #c7c7c7d8;
    color: #bfbfbf;
}

body.light-mode .skills h2,
body.light-mode .achievements h2 {
    color: #354259;
}

body.light-mode .theme-switch {
    background-color: #6a6a6aa5;
}

body.light-mode .theme-switch .switch-thumb {
    transform: translateX(30px);
}

body.light-mode .social-links ul li a img,
body.light-mode .social-links2 ul li a img,
body.light-mode .social-links3 ul li a img {
    background-color: rgba(4, 4, 4, 0.685);
    display: inline-block;
}

body.light-mode .social-links {
    background-color: #00000000;
}

body.light-mode .social-links3 {
    background-color: #00000052;
}

.social-links2 {
    display: none;
}

.social-links3 {
    display: none;
}

.social-links {
    width: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    display: block;
}

.social-links ul {
    list-style: none;
    gap: 45px;
    padding: 5px 35px 5px;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.social-links ul li a img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.social-links ul li a img:hover {
    transform: scale(1.2);
}

@media (max-width: 1100px) {

    .content {
        width: 100vw;
    }

    .hero {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 150px;
        padding-bottom: 120px;
        background-color: #0000008c;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    .social-links {
        display: none;
    }

    .social-links2 {
        width: auto;
        left: 0;
        right: 0;
        padding: 10px 0;
        background-color: #0000008c;
        overflow: hidden;
        display: block;
    }

    body.light-mode .social-links2 {
        background-color: #00000018;
    }

    .social-links2 ul {
        display: flex;
        flex: 1;
        justify-content: center;
        list-style: none;
        gap: 15px;
    }

    .social-links2 ul li a {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
    }

    .social-links2 ul li a img {
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .social-links2 ul li a img:hover {
        transform: scale(1.1);
    }

    .skill-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 620px) {

    .main-container {
        background-color: #00000000;
    }

    html {
        background-color: #7e7e7ef2;
    }

    body {
        background: url(../images/home.JPG)no-repeat center center fixed;
        background-size: auto;
        height: auto;
        width: auto;
    }


    body.light-mode {
        background: url(../images/light1.jpg);
    }

    body.light-mode .achievements {
        box-shadow: none;
        background-color: #ffffff;
        color: #bfbfbf;
        border-radius: 15px;
    }

    body.light-mode .skills {
        box-shadow: none;
        background-color: #ffffff;
        color: #bfbfbf;
    }


    .content {
        width: 100vw;
    }

    .grid-wrapper {
        max-width: fit-content;
    }

    .grid-wrapper section {
        max-width: fit-content;
    }

    .theme-toggle-container {
        position: absolute;
        top: 0px;
        align-items: center;
        right: 50px;
        padding-top: 20px;
        z-index: 1001;
    }


    .theme-switch {
        width: 45px;
        height: 10px;
        border-radius: 10px;
        background-color: #414141b6;
        cursor: pointer;
        align-items: center;
        transition: background-color 0.3s ease;
        display: flex;
    }

    .switch-thumb {
        width: 20px;
        height: 20px;
        background-color: #cfcfcfc9;
        transition: transform 0.3s ease;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        border-radius: 5px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .hero {
        position: relative;
        width: 100%;
        z-index: 1;
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #00000000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    .achievements {
        max-width: fit-content;

    }

    .sticky-nav {
        display: none;
    }


    .mobile-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        z-index: 1000;
    }

    /* Toggle styles */
    .mobile-toggle {
        opacity: 1;
        display: block;
        pointer-events: auto;
        transition: opacity 0.4s ease;
        position: fixed;
        background-image: url("../images/menu.svg");
        background-color: #272727;
        background-size: cover;
        background-repeat: no-repeat;
        border: rgb(52, 52, 52) 3px solid;
        border-radius: 6px;
        width: 2.4rem;
        aspect-ratio: 1;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 999;
        cursor: pointer;
    }

    /* Name label */
    .mobile-name {
        font-size: 1.2rem;
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 18px;
        font-weight: bold;
        background: linear-gradient(to bottom, #00000080, #0000005f, #00000000 100%);
        width: 100%;
        display: block;
        color: #ffffff8a;
        transition: opacity 0.4s ease;
    }

    body.light-mode .mobile-name {
        color: #ffffffaf;
    }

    /* Shared classes for both */
    .visible-toggle {
        opacity: 1;
        pointer-events: auto;
    }

    .hidden-toggle {
        opacity: 0;
        pointer-events: none;
    }

    /* Adds delay on reappearing (for both toggle + name) */
    .visible-delay {
        transition: opacity 0.2s ease 0.2s;
    }

    .shifted-up {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    #mobileMenu.shifted-up {
        padding-top: 0;
        margin-top: 0;
        transition: padding-top 0.3s ease, margin-top 0.3s ease;
    }

    #mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        display: block;
        background-color: rgba(99, 99, 99, 0.041);
        backdrop-filter: blur(10px);
        text-align: center;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        padding-top: 60px;
        transition:
            transform 0.6s ease,
            opacity 0.6s ease,
            padding-top 0.6s ease;
    }

    #mobileMenu[data-active="true"] {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    #mobileMenu[data-active="true"].fully-hidden {
        transform: translateY(-100%);
        transition: transform 0.4s ease;
    }


    #mobileMenu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #mobileMenu li {
        margin-bottom: 15px;
    }

    #mobileMenu a {
        color: #fbfbfb9c;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: serif;
        padding: 10px 20%;
        display: inline-block;
        background-color: #181818e0;
        border-radius: 12px;
        border: rgba(28, 28, 28, 0.314) 5px solid;
        box-shadow: 0 5px 9px #00a2c642;
        transition: all 0.2s ease-in-out;
    }

    #mobileMenu a:hover {
        background-color: #00a2c6b1;
        color: #fff;
        transform: scale(1.05);
    }

    body.light-mode #mobileMenu a {
        color: #000000;
        background-color: #e0e0e0b3;
        border: rgb(202, 202, 202) 5px solid;
    }

    body.light-mode #mobileMenu a:hover {
        background-color: #b5b5b5b1;
        color: #333;
    }

    .social-links {
        display: none;
    }

    .social-links2 {
        display: none;
    }

    .social-links3 {
        width: 100%;
        padding: 10px 0;
        margin: 0;
        background-color: #00000000;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: block;
    }

    body.light-mode .social-links3 {
        background-color: #00000018;
    }

    .social-links3 ul {
        display: flex;
        flex: 1;
        justify-content: center;
        list-style: none;
    }

    .social-links3 ul li {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .social-links3 ul li a {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        font-size: 18px;
        padding: 18px;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
    }

    .social-links3 ul li a img {
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .skill-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
}