#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#preloader.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#preloader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to bottom,
            rgba(177, 31, 31, 0.03),
            rgba(255, 255, 255, 0.03) 2px,
            transparent 2px,
            transparent 4px);
    z-index: 99999;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

#progress-percent {
    font-family: monospace;
    font-size: 25px;
    color: #ababab;
    text-shadow: 0 0 2px #ffffffac, 0 0 10px #00f7ffb3;
    min-width: 50px;
    text-align: center;
}

.loader-text {
    color: #007e9a;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    text-align: center;
}

.glitch {
    color: #007e9a;
    font-size: 32px;
    position: relative;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    animation: glitch 2s infinite;
    text-shadow: 0 0 2px #00f7ffc0, 0 0 10px #00f7ffc1;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0.8;
}

.glitch::before {
    color: #ffffff;
    z-index: -1;
    animation: glitchTop 1s infinite linear alternate-reverse;
}

.glitch::after {
    color: rgb(0, 0, 0);
    z-index: -2;
    animation: glitchBot 1s infinite linear alternate-reverse;
}

.progress-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.progress-bar {
    width: 280px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #00f7ff9e;
    overflow: hidden;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background-color: #a3a3a3;
    transition: width 0.3s ease;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 0.10;
    }

    33% {
        opacity: 0.5;
    }

    66% {
        opacity: 0.50;
    }
}



@keyframes glitch {
    0% {
        transform: none;
    }

    20% {
        transform: translate(-1px, 1px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(1px, 2px);
    }

    80% {
        transform: translate(1px, -1px);
    }

    100% {
        transform: none;
    }
}

@keyframes glitchTop {
    0% {
        clip-path: inset(0 0 90% 0);
        transform: translate(-2px, -2px);
    }

    100% {
        clip-path: inset(0 0 10% 0);
        transform: translate(2px, 2px);
    }
}

@keyframes glitchBot {
    0% {
        clip-path: inset(90% 0 0 0);
        transform: translate(2px, 2px);
    }

    100% {
        clip-path: inset(10% 0 0 0);
        transform: translate(-2px, -2px);
    }
}

@keyframes fillUp {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #161616;
}

::-webkit-scrollbar-thumb {
    background:
        linear-gradient(rgba(0, 0, 0, 0.042), rgba(0, 0, 0, 0.109)),
        url('../images/body/R2.jpg') center/cover no-repeat;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 20px 30px 10px #2713ff;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 37px 30px 10px #ffb300;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}

body.loading,
html.loading {
    overflow: hidden;
    height: 100%;
}

@media (max-width: 640px) {
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
        background: #0d0d0d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        transition: opacity 0.5s ease;
    }

    #progress-percent {
        font-family: monospace;
        font-size: 22px;
        color: #ababab;
        text-shadow: 0 0 2px #ffffffac, 0 0 10px #00f7ffb3;
        min-width: 50px;
        text-align: center;
    }

    .glitch {
        color: #007e9a;
        font-size: 25px;
        position: relative;
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        animation: glitch 2s infinite;
        text-shadow: 0 0 2px #00f7ffc0, 0 0 10px #00f7ffc1;
    }

    .progress-bar {
        width: 240px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        box-shadow: 0 0 10px 1px #00f7ff9e;
        overflow: hidden;
    }
}