.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    background-color: none;
    border-radius: 8px;
    z-index: 999;
}

.projects-hero {
    background-image: url(../images/body/glitch.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.project-card {
    background-color: #0d0d0ddf;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 200, 255, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}


.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 200, 255, 0.2);
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #00a2c6;
    text-align: center;
}

.project-card p {
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 14px;
    color: #bfbfbf;
    text-align: center;
}

.project-card a {
    text-decoration: none;
    color: #bfbfbf;
    border: 2px solid rgba(68, 68, 68, 0.418);
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(44, 44, 44, 0.715);
    font-family: sans-serif;
    font-weight: none;
    transition: all 0.3s ease-in-out, transform 0.2s;
    display: inline-block;
    margin-top: 5px 10px;
}

.project-card a+a {
    margin-left: 15px;
}

.project-card a:hover {
    background-color: #00a2c6;
    color: #bfbfbf;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 162, 198, 0.5);
}

.project-card a:focus {
    animation: button-pulse 1s infinite;
}

.light-mode .project-card {
    background-color: #c7c7c7d8;
}

.light-mode .project-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #1a1a1a;
    text-align: center;
}

.light-mode .project-card p {
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 14px;
    color: #1a1a1a;
    text-align: center;
}

@keyframes button-pulse {
    0% {
        background-color: #00a2c6;
        box-shadow: 0 0 10px rgba(0, 162, 198, 0.5);
    }

    50% {
        background-color: #007a8a;
        box-shadow: 0 0 20px rgba(0, 162, 198, 0.7);
    }

    100% {
        background-color: #00a2c6;
        box-shadow: 0 0 10px rgba(0, 162, 198, 0.5);
    }
}

@media (max-width: 670px) {
    .left-panel {
        display: none;
    }
}